h1{
    background-color: rgb(237, 237, 237);
    height:40px;
    margin:30px;
    padding:20px;
}
.titulo{
    
    height:40px;
    margin:30px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.telefone{
    height:40px;
    margin:30px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.email{
    height:40px;
    margin:30px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.insta{
    height:40px;
    margin:30px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
padding: auto;
    height:25px;
   margin:20px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}